# Diretórios de build e compilação
/target/
/bin/
/out/

# Arquivos de compilação
*.class
*.jar
*.war
*.ear

# Arquivos de configuração do Eclipse
.settings/
/.project
/.classpath

# Arquivos de configuração do IntelliJ IDEA
.idea/
/*.iml

# Arquivos de configuração do NetBeans
nbproject/

# Arquivos temporários e logs
*.log
*.bak
*.swp
*.swo

# Arquivos de dependências do Maven (caso você esteja usando Maven)
*.jar
*.war
*.ear
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# Arquivos de dependências do Gradle (caso você esteja usando Gradle)
.gradle/
/build/
